<ul class="aside">
    <%for(let i=0; i<list.length; i++){%>
        <%if( userinfo.is_super == 1 || list[i].checked ){%>
            <li>
                <h4><%=list[i].module_name%></h4>
                
                <ul>
                    <%for(let j=0; j<list[i].items.length; j++){%>
                        <%if( (userinfo.is_super == 1 && list[i].items[j].type == 2) || (list[i].checked && list[i].items[j].type == 2) ){%>
                            <li  class="list-group-item">
                                <a target="rightView" href="/<%=config.adminPath%>/<%=list[i].items[j].url%>">
                                    <%=list[i].items[j].module_name%>
                                </a>
                            </li>
                        <%}%>
                    <%}%>
                </ul>
            </li>
        <%}%>
    <%}%>
</ul>