<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=msg%>
            <span style="color: red;" id="ms">0</span>秒后跳转到上一页
    </h1>
</body>

<script type="text/javascript" src="/admin/bootstrap/js/jquery-1.10.1.js"></script>
<script>
    var ms = Number($("#ms").html());
    var set = setInterval(() => {
        ms--;
        $("#ms").html(ms);

        if (ms < 1) {
            clearInterval(set);

            window.location.href = "<%=href%>";
        }
    }, 1000);
</script>

</html>